@model NetSteps.Data.Entities.Party
@{
    ViewBag.Title = Html.Term("AddGuests", "Add Guests");
    
    OrderCustomer host = null;
    if (Model != null && Model.Order != null && Model.Order.OrderCustomers != null) { 
        host = Model.Order.GetHostess();
    }

}
@section head{

    <script type="text/javascript">
		//<![CDATA[
        $(function () {
            $('#txtNumberOfGuests').click(function (e) { e.stopImmediatePropagation(); }).numeric({ allowDecimal: false, allowNegative: false });
            $('#btnAddXGuests').click(function () {
                $.get('@Href("~/Orders/Fundraisers/GuestForm")', { guestCount: $('#txtNumberOfGuests').val() }, function (response) {
                    if (/Login/i.test(response)) {
                        showMessage('@Html.Term("YourSessionHasTimedOutPleaseRefreshthePage", "Your session has timed out.  Please refresh the page.")', true);
                    } else {
                        $('#guests').append(response);
                    }
                });
            });

            $('#btnAddGuest').click(function () {
                $.get('@Href("~/Orders/Fundraisers/GuestForm")', { guestCount: 1 }, function (response) {
                    if (/Login/i.test(response)) {
                        showMessage('@Html.Term("YourSessionHasTimedOutPleaseRefreshthePage", "Your session has timed out.  Please refresh the page.")', true);
                    } else {
                        $('#guests').append(response);
                    }
                });
            });

            $('#guests .collapse, #guests h3 > a.GuestFormHeader').live('click', function () {
                var parent = $(this).parent();
                parent.find('span.collapse').toggleClass('ui-icon-triangle-1-s ui-icon-triangle-1-e');
                parent.next().slideToggle('fast', function () { parent.toggleClass('ui-corner-bottom'); });
            });

            $('#guests span.DeleteGuest').live('click', function () {
                if ($('.guestId', this).length) {
                    var guestId = $('.guestId', this).val();
                    $('#invitedGuests li:has(input.guestId[value="' + guestId + '"])').show();
                }
                $(this).closest('div.GuestForm').remove();
            });

            $('#guests input.FirstName,#guests input.LastName').live('keyup', function () {
                var guestForm = $(this).closest('div.GuestForm');
                $('a.GuestFormHeader span.GuestName', guestForm).text($('input.FirstName', guestForm).val() + ' ' + $('input.LastName', guestForm).val());
            });

            $('#btnSave').click(function () {
                if (!$('#guests').checkRequiredFields()) {
                    return false;
                }
                var data = {}, t = $(this);
                showLoading(t, { float: 'left' });
                $('#guests div.GuestForm').each(function (i) {
                    var firstName = $('.FirstName', this), lastName = $('.LastName', this), email = $('.Email', this);
                    data['guests[' + i + '].FirstName'] = firstName.val();
                    data['guests[' + i + '].LastName'] = lastName.val();
                    data['guests[' + i + '].Email'] = email.val();
                    if ($('.directShip', this).is(':checked')) {
                        data['guests[' + i + '].Attention'] = $('.Attention', this).val();
                        data['guests[' + i + '].Address1'] = $('.Address1', this).val();
                        data['guests[' + i + '].Address2'] = $('.Address2', this).val();
                        data['guests[' + i + '].Address3'] = $('.Address3', this).val();
                        data['guests[' + i + '].PostalCode'] = $('.PostalCode', this).fullVal();
                        data['guests[' + i + '].City'] = $('.City', this).val();
                        data['guests[' + i + '].County'] = $('.County', this).val();
                        data['guests[' + i + '].State'] = $('.State', this).val();
                        data['guests[' + i + '].CountryID'] = $('.Country', this).val();
                    }
                });

                $.post('@Href("~/Orders/Fundraisers/SaveGuests")', data, function (response) {
                    if (response.result) {
                        window.location = '@Href("~/Orders/Fundraisers/Cart")';
                    } else {
                        hideLoading(t);
                        showMessage(response.message, true);
                    }
                });
            });

            $('input.directShip').live('click', function () {
                var form = $(this).closest('.GuestForm');
                $('div.DirectShipAddress', form)[$(this).is(':checked') ? 'slideDown' : 'slideUp']();
            });

            $('#myGroups .AddGroup').click(function () {
                $.get('@Href("~/Orders/Fundraisers/GuestForm")', { groupId: $('.groupId', this).val() }, function (response) {
                    if (/Login/i.test(response)) {
                        showMessage('@Html.Term("YourSessionHasTimedOutPleaseRefreshthePage", "Your session has timed out.  Please refresh the page.")', true);
                    } else {
                        $('#guests').append(response);
                    }
                    if (!$('#guests div.GuestForm:first .FirstName').val()) {
                        $('#guests div.GuestForm:first').remove();
                    }
                });
            });

            $('#invitedGuests .AddGuest').click(function () {
                var t = $(this);
                $.get('@Href("~/Orders/Fundraisers/GuestForm")', { guestId: $('.guestId', this).val() }, function (response) {
                    if (/Login/i.test(response)) {
                        showMessage('@Html.Term("YourSessionHasTimedOutPleaseRefreshthePage", "Your session has timed out.  Please refresh the page.")', true);
                    } else {
                        $('#guests').append(response);
                        t.parent().hide();
                    }
                    if (!$('#guests div.GuestForm:first .FirstName').val()) {
                        $('#guests div.GuestForm:first').remove();
                    }
                });
            });
        });
		//]]>
    </script>

}
@section breadcrumb {
    <a href="@Href("~/Orders/Fundraisers")">@Html.Term("FundRaiser", "Fundraiser")</a> &gt; <a href="@Href("~/Orders/Fundraisers/Cart")">@Html.Term("Cart")</a> &gt; @Html.Term("AddGuests", "Add Guests")
}
@section title {
    @Html.Term("AddGuests", "Add Guests")
}
<div class="FL splitCol40">
    <div class="WidgetContainer">
        <div class="WidgetWrap">
            <div class="Widget" style="width: 250px;">
                <div class="WidgetTitle UI-btn txtShadowDark">
                    <span class="Txt UI-btn">@Html.Term("MyGroups", "My Groups")</span>
                </div>
                <div class="WidgetBody">
                    <ul id="myGroups" class="lr listNav">
                       @{
							var distributionList = DistributorBackOffice.Infrastructure.DistributionListCacheHelper.GetDistributionListByAccountID(CoreContext.CurrentAccount.AccountID);
						}
                        @if (distributionList != null)
						{
							foreach (var group in distributionList.Where(g => g.Active))
                            {
                            <li><a href="javascript:void(0);" class="AddGroup">@group.Name<input type="hidden" class="groupId" value="@group.DistributionListID" /></a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @{var guests = Model.PartyGuests.Where(pg => !Model.Order.OrderCustomers.Any(oc => oc.AccountInfo.EmailAddress == pg.EmailAddress || oc.AccountID == pg.AccountID));}
    @if (guests.Count() > 0)
    {
        <div class="WidgetContainer">
            <div class="WidgetWrap">
                <div class="Widget" style="width: 250px;">
                    <div class="WidgetTitle UI-btn txtShadowDark">
                        <span class="Txt UI-btn">@Html.Term("InvitedGuests", "Invited Guests")</span>
                    </div>
                    <div class="WidgetBody">
                        <ul id="invitedGuests" class="lr listNav">
                            @foreach (var guest in guests)
                            {
                                <li><a href="javascript:void(0);" class="AddGuest">@NetSteps.Data.Entities.Account.ToFullName(guest.FirstName, string.Empty, guest.LastName, CoreContext.CurrentCultureInfo.Name)<input type="hidden" class="guestId" value="@guest.PartyGuestID" /></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="FL splitCol60">
    <div class="UI-mainBg brdrAll GridUtility">
        <a href="javascript:void(0);" class="IconText Add" id="btnAddXGuests"><span>
            @Html.Raw(Html.Term("AddXGuests", "Add {0} Guest(s)", "<input type=\"text\" id=\"txtNumberOfGuests\" value=\"1\" style=\"width:30px;\" />"))</span></a> <span class="clr"></span>
    </div>
    <div id="guests">
        <input type="hidden" id="accountId" value="@(host == null ? "" : host.AccountID.ToString())" />
        @{ViewBag.GuestCount = 1; Html.RenderPartial("GuestForm", new List<AccountSlimSearchData>());}
    </div>
    <div class="UI-lightBg pad5 brdrAll addAnotherGuest">
        <a href="javascript:void(0);" class="IconText Add UI-icon-container" id="btnAddGuest">
        <span class="UI-icon icon-plus"></span>
        <span>@Html.Term("AddAnotherGuest", "Add Another Guest")</span></a>
    </div>
    <div class="mt10 clr">
        <a href="javascript:void(0);" class="Button FormSubmit FL" id="btnSave"><span>@Html.Term("Save")</span></a> 
        <a href="@Href("~/Orders/Fundraisers/Cart")" class="Cancel FR"><span>@Html.Term("Cancel")</span></a>
        <span class="clr"></span>
    </div>
</div>
