@{
    ViewBag.Title = "Forgot Password";
}
@model IForgotPasswordModel
@section head{
	<script type="text/javascript">
	$(function () {
		$('input[type=text]').keyup(function (e) { if (e.keyCode == 13) { $('#btnForgotPasswordSubmit').click(); } });
		$('#btnForgotPasswordSubmit').click(function (response) {
    		if ($('#login').checkRequiredFields()) {
    			var options = {
    				url: '@Model.ResetPasswordUrl',
    				showLoading: $('#btnForgotPasswordSubmit'),
    				data: { username: $('#txtUserName').val() },
    				success: function (response) {
    					if (response.result) {
    						$('#forgotPasswordDiv .FRow, .FormSubmit').hide();
    						$('#forgotPasswordMessageSuccess').html(response.message).fadeIn();
    					} else {
    						$('#forgotPasswordMessage').html(response.message).fadeIn();
    					}
    				}
                };
                $('#forgotPasswordMessage').hide();
				NS.post(options);
			}
		});
	});
</script>   
}
<div class="contentPane ForgotPassword">
	<h1 class="pageTitle">@Html.Term("ForgotPassword_PageTitle", "Password Assistance")</h1>
	<p class="block">@Model.HeaderText</p>
	<div id="forgotPasswordMessage" class="UI-errorBg mb10 pad10 center clr" style="display: none;""></div>
	<div id="login" class="UI-lightBg brdrAll logInPane">
		<div class="pad10">
			<div class="UI-mainBg brdrAll pad5 logInHeader">
				<h2>@Model.FormHeaderText</h2>
			</div>
			<div id="forgotPasswordDiv" class="FormContainer loginForm">
				<div id="forgotPasswordMessageSuccess" class="UI-successBg mb10 pad10 center clr" style="display: none;""></div>
				<div class="FRow">
					<div class="FLabel">
						<label for="txtUserName">@Model.UsernameLabelText:</label>
					</div>
					<div class="FInput">
						<input type="text" id="txtUserName" class="required fullwidth" name="@Model.UsernameErrorText" />
					</div>
					<span class="clrall"></span>
				</div>
				<p class="FormSubmit">
					<a id="btnForgotPasswordSubmit" href="javascript:void(0);" class="Button"><span>@Html.Term("ForgotPassword_Submit", "Submit")</span></a>
				</p>
			</div>
		</div>
	</div>
</div>
