@model NetSteps.Data.Entities.Account
@{
    ViewBag.Title = "Password Updated";
}
<div id="PwChangeConf">
    <div id="TwoColumn" class="TwoColumnContent pwSuccess">
        <div class="CenterColumn FR">
            <h1>@Html.Term("Welcome_Back_Title_On_Login_Modal", "Welcome Back"), @Model.FullName</h1>
            <div class="pwResetText">
                @Html.Term("PWreset_SuccessText", "Your password has been updated successfully.")
            </div>
        </div>
        <div class="LeftColumn FL">
            <div class="SideColumn pwResetCont">
                <div class="brdrAll secondaryNavContainer" id="SecondaryNav">
                    <h3 class="secondaryNavHeader">@Html.Term("PWreset_ContinueTitle", "What would you like to do now?")</h3>
                
                <ul class="navigation">
                    @if (Model.AccountTypeID != (int)Constants.AccountType.Distributor)
                    {
                    <li><a href="@Url.Resolve("~/Account")"><span>@Html.Term("PWreset_ContinueLink_MyAccount", "Manage My Account")</span></a></li>
                    <li><a href="@Url.Resolve("~/Enroll")"><span>@Html.Term("PWreset_ContinueLink_Upgrade", "Upgrade My Account")</span></a></li>
                    }
                    else
                    {
                        string wkstSingleSignOn = ConfigurationManager.GetAppSetting<string>(ConfigurationManager.VariableKey.BackOfficeUrl).AppendForwardSlash()
                            .ConvertToSecureUrl(ConfigurationManager.ForceSSL) + "Login?token=" + Account.GetSingleSignOnToken(Model.AccountID);
                    <li><a href="@wkstSingleSignOn"><span>@Html.Term("PWreset_ContinueLink_Workstation", "Go to My Workstation")</span></a></li>
                    }
                    <li><a href="@Url.Resolve("~/Shop")" ><span>@Html.Term("PWreset_ContinueLink_Shop", "Shop")</span></a></li>
                </ul>
                </div>
            </div>
        </div>
        <span class="clr"></span>
    </div>
</div>

