@{
    ViewBag.Title = "Reset Password";
}
@section head{
    <script type="text/javascript">
		//<![CDATA[
        $(function () {
            $('input[type=password]').keyup(function (e) { if (e.keyCode == 13) { $('#btnSavePassword').click(); } });
            $('#btnSavePassword').click(function () {
                var t = $(this);
                if ($('#txtNewPassword').val() != $('#txtConfirmPassword').val()) {
                    $('#txtNewPassword,#txtConfirmPassword').showError('@Html.JavascriptTerm("PasswordsMustMatch", "The passwords must match.")').focus().keyup(function () {
                        if ($('#txtNewPassword').val() == $('#txtConfirmPassword').val())
                            $('#txtNewPassword,#txtConfirmPassword').clearError();
                    });
                    return false;
                }
                showLoading(t);
                $.post('@Url.Resolve("~/ResetPassword")', { accountStr: $('#accountIdStr').val(), newPassword: $('#txtNewPassword').val(), confirmPassword: $('#txtConfirmPassword').val() }, function (response) {
                    if (response.result) {
                        hideLoading(t);
                        window.location = '@Href("~/PasswordUpdated")';
                    } else {
                        hideLoading(t);
                        $('#resetPasswordMessage').html(response.message).fadeIn();
                    }
                });
            });
        });
    //]]>
    </script>
}
<div class="contentPane">
    <h1 class="pageTitle">
        Reset Your Password</h1>
    @if (ViewBag.LinkExpired != null && ViewBag.LinkExpired)
    {
        <div id="linkExpiredMessage" class="UI-errorBg mb10 pad10 center clr">
            <span>@Html.Term("ExpiredLink", "The forgot password link has expired. Please re-submit.")</span> <a href="/">@Html.Term("BackToLogin", "Back to Login")</a>
        </div>
    }
    else
    {

        <div id="resetPasswordMessage" class="UI-errorBg mb10 pad10 center clr" style="display: none;">
        </div>
        <div id="login" class="UI-lightBg brdrAll logInPane">
            <div class="pad10">
                <div class="UI-mainBg brdrAll pad5 logInHeader">
                    <h2>@Html.Term("ResetPassword_FormTitle", "Create your new password")</h2>
                </div>
                <div id="resetPasswordDiv" class="FormContainer loginForm">
                    <div class="FRow">
                        <input type="hidden" value="@ViewBag.AccountStr" id="accountIdStr" />
                        <div class="FLabel">
                            <label for="txtNewPassword">@Html.Term("ResetPassword_NewPassword1","New Password"):</label>
                        </div>
                        <div class="FInput">
                            <input type="password" id="txtNewPassword" class="required" name="@Html.Term("PasswordRequired", "Password is required.")" value="" />
                        </div>
                        <span class="clrall"></span>
                    </div>
                    <div class="FRow">
                        <div class="FLabel">
                            <label for="txtConfirmPassword">@Html.Term("ResetPassword_NewPassword2","Confirm Password"):</label>
                        </div>
                        <div class="FInput">
                            <input type="password" id="txtConfirmPassword" class="required" name="@Html.Term("PasswordConfirmRequired", "Password confirmation is required.")" value="" />
                        </div>
                        <span class="clrall"></span>
                    </div>
                    <div class="FormSubmit">
                        <p class="pad5">
                        <a href="/Home" class="FL btnCancel">@Html.Term("Cancel", "Cancel")</a> 
                        <a id="btnSavePassword" href="javascript:void(0);" class="FR Button btnNewPw"><span>@Html.Term("Submit")</span></a> <span class="clr"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    <span class="clrall"></span>
</div>
