@model NetSteps.Addresses.UI.Models.AddressUIModel_DE
<!-- DE DISPLAY TEMPLATE -->
<div class="FormContainer">
<!-- ko if: showField('CountryCode', false) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.CountryCode)
			</div>
			<div class="FInput" data-bind="value: address.CountryCode">
				@Model.CountryCode
			</div>
		</div>
<!-- /ko -->   
<!-- ko if: showField('FirstName', false) -->		
        <div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.FirstName)
			</div>
			<div class="FInput" data-bind="value: address.FirstName">
				@Model.FirstName
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('LastName', false) -->		
        <div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.LastName)
			</div>
			<div class="FInput" data-bind="value: address.LastName">
				@Model.LastName
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('PhoneNumber', false) -->		
        <div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.PhoneNumber)
			</div>
			<div class="FInput" data-bind="value: address.PhoneNumber">
				@Model.PhoneNumber
			</div>
		</div>
<!-- /ko -->    
<!-- ko if: showField('PhoneTypeID', false) -->		
        <div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.PhoneTypeID)
			</div>
			<div class="FInput" data-bind="value: address.PhoneTypeID">
				@Model.PhoneTypeID
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('Attention', true) -->		
        <div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.Attention)
			</div>
			<div class="FInput" data-bind="value: address.Attention">
				@Model.Attention
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('Address1', true) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.Address1)
			</div>
			<div class="FInput" data-bind="value: address.Address1">
				@Model.Address1
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('Address2', true) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.Address2)
			</div>
			<div class="FInput" data-bind="value: address.Address2">
				@Model.Address2
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('Address3', false) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.Address3)
			</div>
			<div class="FInput" data-bind="value: address.Address3">
				@Model.Address3
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('PostalCode', true) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.PostalCode)
			</div>
			<div class="FInput" data-bind="value: address.PostalCode">
				@Model.PostalCode
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('City', true) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.City)
			</div>
			<div class="FInput" data-bind="value: address.City">
				@Model.City
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('County', false) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.County)
			</div>
			<div class="FInput" data-bind="value: address.County">
				@Model.County
			</div>
		</div>
<!-- /ko -->
<!-- ko if: showField('StateProvince', false) -->
		<div class="FRow">
			<div class="FLabel">
				@Html.LabelFor(m => m.StateProvince)
			</div>
			<div class="FInput" data-bind="value: address.StateProvince">
				@Model.StateProvince
			</div>
		</div>
<!-- /ko --> 
</div>
