@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}
@model IForgotPasswordModel
@{var page = DistributorBackOffice.Controllers.BaseController.GetCurrentPage(); var modelIsPage = page != null;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    @Styles.Render("~/Content/stylebundles/jqueryui")
    @Scripts.Render("~/scriptbundles/jquery")
    @Scripts.Render("~/scriptbundles/jqueryui")                 
    <script type="text/javascript">
		//<![CDATA[
        $(function () {
            $('input[type=text]').keyup(function (e) { if (e.keyCode == 13) { $('#btnForgotPasswordSubmit').click(); } });
            $('#btnForgotPasswordSubmit').click(function (response) {
                var t = $(this);
                $('#forgotPasswordMessage').empty();
                showLoading(t);
                $.post('@Model.ResetPasswordUrl', { username: $('#txtUserName').val(),
                    CFP: $('#txtCFP').val(),
                    BirthDay_: $('#txtBirthday').val()
                }, function (response) {
                    if (response.result) {
                        hideLoading(t);
                        $('#forgotPasswordDiv').empty();
                        $('#forgotPasswordMessage').html(response.message).fadeIn();
                    } else {
                        hideLoading(t);
                        $('#forgotPasswordMessage').html(response.message).fadeIn();
                    }
                });
            });
        });

        function showLoading(element, css) {
            if (!element.jquery)
                element = $(element);
            var loading = $('<img src="@Href("~/Resource/Content/Images/loader_36x36.gif")" alt="loading..." />');
            if (css) {
                loading.css(css);
            }
            else if (element.height()) {
                loading.css('height', element.height() + 'px');
            }
            element.after(loading).hide();
        }

        function hideLoading(element) {
            if (!element.jquery)
                element = $(element);
            element.show().next().remove();
        }
        $(function () {
            $("#txtBirthday").datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: "0D",
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });
		//]]>
    </script>
    @Html.Partial("MasterPageIncludes")
    @(((HtmlSection)ViewBag.SiteDesignContent).ToDisplay(modelIsPage ? page.PageID : (int?)null))
</head>
<body>
    <div id="Content" class="ForgotPassword">
        <div class="Inner">
            <div class="Login">
                <div id="forgotPasswordMessage" class="error_message_block pad10" style="display: none;"></div>
                <div id="forgotPasswordDiv">
                    <h1 class="mt10 mb20">@Model.HeaderText</h1>
                    <p>
                        <label for="txtCFP" class="block mb5">@Model.UsernameLabelText:</label>
                        <input type="text" id="txtCFP" class="required" name="@Model.UsernameErrorText" value="" />
                    </p>
                    <p>
                        <label for="txtUserName" class="block mb5">@Html.Term("FirstName", "First Name"):</label>
                        <input type="text" id="txtUserName" class="required" name="@Model.UsernameErrorText" value="" />
                    </p>
                    <p>
                        <label for="txtBirthday" class="block mb5">@Html.Term("RangeDateOfBirth", "Date BirthDay"):</label>
                        <input type="text" id="txtBirthday" value="dd/mm/aaaa" class="required" name="@Model.UsernameErrorText" value="" />
                    </p>
                    <span class="clrall"></span>

                    <p class="FormSubmit mt20">
                        <a id="btnForgotPasswordSubmit" href="javascript:void(0);" class="Button"><span>@Html.Term("ForgotPassword_Submit", "Submit")</span></a>
                    </p>
                </div>
            </div>
                <span class="clrall"></span>
            </div>
        </div>
</body>
</html>
