@{
    Layout = null;
    ViewBag.Title = "ResetPassword";
}
@{var page = DistributorBackOffice.Controllers.BaseController.GetCurrentPage(); var modelIsPage = page != null;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    @Scripts.Render("~/scriptbundles/jquery")
    @Scripts.Render("~/scriptbundles/utilities")
   
    <script type="text/javascript">
		//<![CDATA[
        $(function () {
            $('input[type=password]').keyup(function (e) { if (e.keyCode == 13) { $('#btnSavePassword').click(); } });
            $('#btnSavePassword').click(function () {
                var t = $(this);
                if ($('#txtNewPassword').val() != $('#txtConfirmPassword').val()) {
                    $('#txtNewPassword,#txtConfirmPassword').showError('@Html.JavascriptTerm("PasswordsMustMatch", "The passwords must match.")').focus().keyup(function () {
                        if ($('#txtNewPassword').val() == $('#txtConfirmPassword').val())
                            $('#txtNewPassword,#txtConfirmPassword').clearError();
                    });
                    return false;
                }
                showLoading(t);
                $.post('@Href("~/ResetPassword")', { accountStr: $('#accountIdStr').val(), newPassword: $('#txtNewPassword').val(), confirmPassword: $('#txtConfirmPassword').val() }, function (response) {
                    if (response.result) {
                        hideLoading(t);
                        $('#resetPasswordMessage').html('@Html.Term("PasswordReset", "Your password has been updated")').fadeIn();
                        window.location = "/";
                    } else {
                        hideLoading(t);
                        $('#resetPasswordMessage').html(response.message).fadeIn();
                    }
                });
            });
        });

        function showLoading(element, css) {
            if (!element.jquery)
                element = $(element);
            var loading = $('<img src="@Href("~/Resource/Content/Images/loader_36x36.gif")" alt="loading..." />');
            if (css) {
                loading.css(css);
            }
            else if (element.height()) {
                loading.css('height', element.height() + 'px');
            }
            element.after(loading).hide();
        }

        function hideLoading(element) {
            if (!element.jquery)
                element = $(element);
            element.show().next().remove();
        }
    //]]>
    </script>
    @Html.Partial("MasterPageIncludes")
     @(((HtmlSection)ViewBag.SiteDesignContent).ToDisplay(modelIsPage ? page.PageID : (int?)null))
</head>
<body>
    @if (ViewBag.LinkExpired != null && ViewBag.LinkExpired)
    {
        <div id="linkExpiredMessage" class="mb10 pad10 center clr">
            <span>@Html.Term("ExpiredLink", "The forgot password link has expired. Please re-submit.")</span>
            <a href="/">@Html.Term("BackToLogin", "Back to Login")</a>
        </div>
    }
    else
    {
        <div id="Content" class="ResetPassword relative">
            <div class="Inner">
                <div class="Login">
                    <div id="resetPasswordMessage" class="error_message_block pad10" style="display: none;"></div>
                    <div id="resetPasswordDiv">
                        <h1 class="mt10 mb20">Reset Your Password</h1>
                        <input type="hidden" value="@ViewBag.AccountStr" id="accountIdStr" />

                        <label for="txtNewPassword" class="block mb5">@Html.Term("Password"):</label>
                        <input type="password" id="txtNewPassword" class="required mb10" name="@Html.Term("PasswordRequired", "Password is required.")" value="" />

                        <label for="txtConfirmPassword" class="block mb5">@Html.Term("ConfirmPassword"):</label>
                        <input type="password" id="txtConfirmPassword" class="required" name="@Html.Term("PasswordConfirmRequired", "Password confirmation is required.")" value="" />

                        <p class="FormSubmit mt20">
                            <a id="btnSavePassword" href="javascript:void(0);" class="Button"><span>@Html.Term("Submit")</span></a>
                        </p>
                    </div>
                    <span class="clrall"></span>
                </div>
            </div>
        </div>
    }
</body>
</html>