<div class="UI-lightBg brdrAll pad10 mt20 mb20 upgradeAcctContainer">
    <span class="FL icon-star"></span>
    <a href="/Login" class="FL m5 pad10 brdrAll upgradeAcctItem">
        <span class="upgradeAcctHeader">
            @Html.Term("CheckoutUpgradeAccount_RetailCustomer_Header", "Upgrade to a Retail Customer Account")
        </span>
        <span class="upgradeAcctText">
            @Html.Term("CheckoutUpgradeAccount_RetailCustomer_Description", "Sign up for a retail account to save time on upcoming orders.")
        </span>
        <span class="upgradeAcctAction">
            @Html.Term("CheckoutUpgradeAccount_RetailCustomer_ActionText", "Upgrade to a Retail Customer Account Now!")
        </span>
    </a>
    <a href="/Enroll" class="FL m5 pad10 brdrAll upgradeAcctItem">
        <span class="upgradeAcctHeader">
                @Html.Term("CheckoutUpgradeAccount_PreferredCustomer_Header", "Upgrade to a Preferred Customer Account")
        </span>
        <span class="upgradeAcctText">
            @Html.Term("CheckoutUpgradeAccount_PreferredCustomer_Description", "Receive discounts on select items as a preferred customer.")
        </span>
        <span class="upgradeAcctAction">
            @Html.Term("CheckoutUpgradeAccount_PreferredCustomer_ActionText", "Upgrade to a Preferred Customer Account Now!")
        </span>
    </a>
    <a href="/Enroll" class="FL m5 pad10 brdrAll upgradeAcctItem">
        <span class="upgradeAcctHeader">
                @Html.Term("CheckouUpgradetAccount_Consultant_Header", "Upgrade to a Consultant Account")
        </span>
        <span class="upgradeAcctText">
            @Html.Term("CheckoutUpgradeAccount_Consultant_Description", "Make some extra cash by becoming a consultant today.")
        </span>
        <span class="upgradeAcctAction">
            @Html.Term("CheckoutUpgradeAccount_Consultant_ActionText", "Upgrade to a Consultant Account Now!")
        </span>
    </a>
    <span class="clr"></span>
</div>