@model NetSteps.Data.Entities.Page
@{
	Layout = "~/Views/Shared/_Site.cshtml";
}
@{
	ViewBag.Title = Html.Term("Meta_PWS_CWS-HomePageTitle", "Home Page");
	var hasFeatured = ViewBag.News as IEnumerable<News>;
}
@section head{
	<!-- TEMPLATE: Home Template 5 -->
	<script type="text/javascript">
		$(function () {
			$('body').addClass('Home');
		});
	</script>
	<meta name="Description" content="@Html.Term("Meta_PWS_CWS-Home_Description", "Flourish and grow. Your opportunity for improvement is right around the corner.")" />
	<meta name="Keywords" content="@Html.Term("Meta_PWS_CWS-Home_Keywords", "Financial freedom, growth, sales, independence")" />
}
<div id="HomeInner" class="OneColumnCorp">
	@if (hasFeatured != null && hasFeatured.Any())
 {
		<div class="overflow pad10 UI-cmsWrap NewsTickerWrapper">
			@Html.Partial("NewsTicker")
		</div>
 }
	<div class="homeCol_a">
		<span class="clrall"></span>
		<div class="UI-cmsWrap block1 hide">
			<div id="Module_Bio">
				<div class="MyPhoto">
					@(((HtmlSection)ViewBag.MyPhoto).ToDisplay(Model.PageID))
				</div>
				@Html.Partial("AccountInfo")
				@if (ViewBag.IsPartyOrderClient)
	{
					<div class="clr" id="Module_MyParties">
						<h3 class="UI-secBg pad5 openPartiesHeader">@Html.Term("MyPartiesHeader", "My Parties")</h3>
						@Html.Partial("OpenParties")
					</div>
					<!--/ end parties list -->
	}
			</div>
		</div>
		<div class="UI-cmsWrap block2">
			@Model.HtmlSections.DisplayHtmlSection("Module", Model.PageID)
		</div>
	</div>
	<div class="homeCol_b overflow">
		<div class="UI-cmsWrap block3">
			@Model.HtmlSections.DisplayHtmlSection("Content", Model.PageID)
		</div>
		<div class="columnCmsBlocks">
			<div id="ColumnCms1" class="UI-cmsWrap block4 columnCms homeColumnCms1">
				@Model.HtmlSections.DisplayHtmlSection("Ad2", Model.PageID)
			</div>
			<div id="ColumnCms2" class="UI-cmsWrap block5 columnCms home homeColumnCms2">
				@Model.HtmlSections.DisplayHtmlSection("Ad1", Model.PageID)
			</div>
		</div>
	</div>
	<span class="clr"></span>
</div>
