<div class="signUpActionTitle">
    <h3>@Html.Term("PWS_SignUp_ExpressCheckout_Heading", "Express Checkout") <a class="icon-help qmark_trigger" ﻿aria-hidden="true" href="#" content-qmark="@Html.Term("AccountToolTip_Express", "Check out quickly without creating an account. ")"></a></h3>
</div>
<div class="target signUpActionContent" style="display:none;">
    <div class="FormContainer loginForm">
        <div class="FRow splitCol firstName">
            <div class="FLabel">
                <label for="txtFirstName">
                    @Html.Term("FirstName", "First Name"):</label>
            </div>
            <div class="FInput">
                <input type="text" id="txtFirstName" class="required" name="@Html.Term("FirstNameIsRequired", "First Name is required.")" tabindex="1" />
            </div>
            <span class="clr"></span>
        </div>
        <div class="FRow splitCol lastName">
            <div class="FLabel">
                <label for="txtLastName">
                    @Html.Term("LastName", "Last Name"):</label>
            </div>
            <div class="FInput">
                <input type="text" id="txtLastName" class="required" name="@Html.Term("LastNameIsRequired", "Last Name is required.")" tabindex="2" />
            </div>
            <span class="clr"></span>
        </div>
        <div class="FRow fullWidth email">
            <div class="FLabel">
                <label for="txtEmail">
                    @Html.Term("Email"):</label>
            </div>
            <div class="FInput">
                <input type="text" id="txtEmail" class="required" name="@Html.Term("EmailIsRequired", "Email is required.")" tabindex="3" />
            </div>
            <span class="clr"></span>
        </div>
        <div class="FRow options visible">
            <input type="checkbox" />
            <label>@Html.Term("PWS_SignUp_OptOut_Label", "Opt-out of being contacted") </label><a class="icon-help qmark_trigger" ﻿aria-hidden="true" href="#" content-qmark="@Html.Term("AccountToolTip_OptOut", "Opt out to avoid being contacted.")"></a>
        </div>
    </div>
    <p class="FormSubmit">
        <a class="Button MinorButton btnSignUp" href="javascript:void(0);" id="btnSignUp" tabindex="4"><span>
            @Html.Term("PWS_SignUp_Continue_Button", "Continue")</span></a>
    </p>
</div>