@model nsDistributor.Areas.Enroll.Models.Sponsor.BrowseModel

@{
    Layout = "~/Areas/Enroll/Views/Shared/_EnrollStepLayout.cshtml";
   
}

<div class="mb10 browseSponsors">
    <p>
        @Html.Term("Enrollment_Sponsor_Browse_Header",
            "A sponsor is required in order for you to become a distributor. Please use the form below to search our sponsors and select the one for you.")
    </p>
</div>

@*cuando se ingresa por la pagina base en el caso de brasil se muestra la seleccion manual de un sponsor o la selecciona automatica *@
@{ 
    Model.BusquedaAutomaticaBrasil = 1;
 }

@if (Model.BusquedaAutomaticaBrasil == 1)    
{
        @Html.Partial("AccountLocatorModelBrasil", Model.AccountLocator)
}
else
{
    @Html.EditorFor(m => m.AccountLocator) 
} 

 
@section bodyFooter
{
    @if (Model.BusquedaAutomaticaBrasil == 1)
        {
			<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EditorTemplates/AccountLocatorModel.js")"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz7WLquI2F2K7f-feFn-6VzJDp0wBWB-M"></script>
			
        }
        else
        {  
			<script type="text/javascript" src="@Url.Content("~/Scripts/Shared/EditorTemplates/AccountLocatorModel.js")"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        }
}
<script type="text/javascript">
    // Se ingreso desde pagina base 1,0 Se ingreso desde un web site de consultora
    var BusquedaAutomaticaSponsorBrasil=@(Model.BusquedaAutomaticaBrasil == 0 ? "0" : "1");

</script>