@model nsDistributor.Models.Autoship.EditModel

@{
    ViewBag.Title = Html.Term("EditYourAutoship", "Edit Your Autoship");
}

<div class="pageTitle">
    <div class="breadCrumb">
        <a href="@Url.Resolve("~/Account")"><span>@Html.Term("MyAccount", "My Account")</span></a>
    </div>
    <h1>@ViewBag.Title</h1>
</div>

<div class="FL splitCol65 pad10">
    <div class="UI-cmsWrap block">
        @ViewData["Autoship_Edit_LeftContent"]
    </div>
</div>
<div class="FR splitCol30 m5 AutoshipDetails">
	<div class="UI-cmsWrap block">
        @ViewData["Autoship_Edit_RightContent"]
    </div>
    <hr />
</div>
<span class="clr"></span>

@Html.EditorFor(m => m.MiniShop)
