@model Party
@{
    ViewBag.Title = "Re-invite Guests";
}
@section head{
    <script type="text/javascript">
        $(function () {
            $('input.inviteFirstName').watermark('@Html.JavascriptTerm("FirstName", "First Name")');
            $('input.inviteLastName').watermark('@Html.JavascriptTerm("LastName", "Last Name")');
            $('input.inviteEmail').watermark('@Html.JavascriptTerm("EmailAddress", "Email address")');

            var inviteTxt = $.trim($('#inviteMessage').text());
            $('#swapCustomText').click(function () {
                $('#inviteMessage').html('<textarea class="UI-lightBg customMessage">' + inviteTxt + '</textarea>');
                $('#write').fadeOut(50, function () { $('#saveMessage').fadeIn(); });
                return false;
            });

            $('#cancelWrite').click(function () {
                $('#inviteMessage').html(inviteTxt);
                $('#saveMessage').fadeOut(50, function () { $('#write').fadeIn(); });
                return false;
            });

            $('#saveContent').click(function () {
                var t = $(this);
                showLoading(t);
                var message = $('#inviteMessage textarea').val();
                $.post('@Url.Resolve("~/HostedParties/SaveMessage")', { partyId: '@Model.PartyID', emailTemplateTypeId: '@((short)Constants.EmailTemplateType.EvitesCustomerInvite)', message: message }, function (response) {
                    hideLoading(t);
                    if (response.result) {
                        inviteTxt = message;
                        $('#inviteMessage').html(inviteTxt);
                        $('#saveMessage').fadeOut(50, function () { $('#write').fadeIn(); });
                    } else {
                        showMessage(response.message, true);
                    }
                });
            });

            $('#previewInvitation').click(function () {
                var t = $(this);
                showLoading(t);
                $.post('@Url.Resolve("~/HostedParties/SetupPreview")', {
                    content: $.trim($('#inviteMessage textarea').length ? $('#inviteMessage textarea').val() : $('#inviteMessage').text())
                }, function (response) {
                    hideLoading(t);
                    if (response.result) {
                        var w = window.open('@Url.Resolve("~/HostedParties/PreviewEmail", new { emailTemplateTypeId = (short)Constants.EmailTemplateType.EvitesCustomerInvite })');
                        if (!w) {
                            showMessage('@Html.Term("GuestInvitePopupBlocked", "We have detected that your guest invite preview was blocked.  Please turn off your popup blocker to see this.")', true);
                        } else {
                            //test for Chrome, since it still gives us a handle - DES
                            w.onload = function () {
                                setTimeout(function () {
                                    if (w.screenX === 0)
                                        showMessage('@Html.Term("GuestInvitePopupBlocked", "We have detected that your guest invite preview was blocked.  Please turn off your popup blocker to see this.")', true);
                                }, 0);
                            };
                        }
                    } else {
                        showMessage(response.message, true);
                    }
                });
            });

            $('#guests a.removeGuest').click(function () {
                $(this).closest('tr').fadeOut(function () {
                    $(this).remove();
                });
            });

            $('#send').click(function () {
                var data = { partyId: '@Model.PartyID' }, complete = true, t = $(this);
                $('#guests tr').filter(function () {
                    return $('input.inviteFirstName', this).val() != $('input.inviteFirstName', this).data('watermark') ||
                            $('input.inviteLastName', this).val() != $('input.inviteLastName', this).data('watermark') ||
                            $('input.inviteEmail', this).val() != $('input.inviteEmail', this).data('watermark');
                }).each(function (i) {
                    var firstName = $('input.inviteFirstName', this).val(), email = $('input.inviteEmail', this).val();
                    if (!firstName || !email || !/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i.test(email)) {
                        //TODO: show validation error here - DES
                        complete = false;
                    }
                    data['guests[' + i + '].PartyGuestID'] = $('input.partyGuestId', this).val();
                    data['guests[' + i + '].FirstName'] = firstName;
                    data['guests[' + i + '].LastName'] = $('input.inviteLastName', this).val();
                    data['guests[' + i + '].EmailAddress'] = email;
                });

                if (complete) {
                    showLoading(t);
                    $.post('@Url.Resolve("~/HostedParties/ResendInvites")', data, function (response) {
                        if (response.result) {
                            window.location = '@Url.Resolve("~/HostedParties/GuestList", new { partyId = Model.PartyID })';
                        } else {
                            hideLoading(t);
                            showMessage(response.message, true);
                        }
                    });
                }
            });
        });
    </script>
}
<div class="SideColumn">
    @if (ViewBag.HasGuestInviteContent)
    {
        <div class="partyActions customizeMessage">
            <h3>@Html.Term("CustomizeYourInviteMessage", "Customize your invitation message?")</h3>
            <div class="UI-bg messageWrapper">
                <div class="inviteMessage" id="inviteMessage">
                    @if (string.IsNullOrEmpty(ViewBag.PersonalizedContent))
                    {
                        //TODO: Figure out how we're going to do "default corporate" here, possibly term? - DES
                        @:Default overridable corporate content. Lorem ipsum dolor sit amet, consecteturadipiscingelit.Crasvitaesapiendiam.Inconguealiquameleifend.Morbinecmetusatarcudictumgravida.Integerbibendummivelodiodictumeuconsequatrisusluctus.
                }
                    else
                    {
                        @ViewBag.PersonalizedContent  
                    }
                </div>
                <div class="pad5 messageControls">
                    <div id="write">
                        <a href="javascript:void(0);" class="" id="swapCustomText">@Html.Term("WriteYourOwn", "Click here to write your own")</a>
                    </div>
                    <div id="saveMessage" style="display: none;">
                        <a id="saveContent" href="javascript:void(0);" class="FL Button MinorButton saveMessage">
                            <span>@Html.Term("SaveMessage", "Save Message")</span></a> <a href="javascript:void(0);"
                                class="FR cancelMessage" id="cancelWrite">@Html.Term("Cancel")</a> <span class="clr">
                                </span>
                    </div>
                </div>
            </div>
            <!-- end message wrapper -->
        </div>
        <!--/ end customize message -->
        <hr />
    }
    <div class="mt10 messagePreview">
        <h3>@Html.Term("PreviewEmailText", "Want to see what your invitation will look like?")</h3>
        <div class="imagewrapper">
            @if (string.IsNullOrEmpty(ViewBag.InvitationThumbnail))
            {
                <a id="previewInvitation" href="javascript:void(0);" class="mt10 previewInvitation" title="@Html.Term("Preview")">
                    <img src="@Url.Content("~/Resource/Content/Images/Base/newsletterPreview.png")" alt="@Html.Term("Preview")" />
                </a>
            }
            else
            {
                <a id="previewInvitation" href="javascript:void(0);" class="mt10 previewInvitation" title="@Html.Term("Preview")">
                    <img src="@ViewBag.InvitationThumbnail" alt="@Html.Term("Preview")" /></a>
            }
        </div>
    </div>
</div>
<div class="ContentColumn guestList">
    <div class="pageTitle">
        <div class="breadCrumb">
            <a href="@Url.Resolve("~/HostedParties")">@Html.Term("MyPartiesDashboard", "My Parties Dashboard")</a>
            &gt; <a href="@Url.Resolve("~/HostedParties/GuestList", new { partyId = Model.PartyID })">@Model.Name</a>
        </div>
        <h1>@Html.Term("ReinviteGuests", "Re-invite Guests")</h1>
    </div>
    @{
        var pending = Model.PartyGuests.Where(pg => !Model.PartyRsvps.Any(pr => pr.PartyGuestID == pg.PartyGuestID));
    }
    <div class="guestListSection mt10 confirmedList">
        <div class="header">
            <h2 class="FL">@Html.Term("EditGuestsHere", "Edit Guests Here")</h2>
            <span class="clr"></span>
        </div>
        <table class="DataGrid guestList">
            <thead>
                <tr>
                    <th class="splitCol guestNameCol" colspan="2">@Html.Term("GuestName", "Guest Name")
                    </th>
                    <th class="splitCol guestEmailCol" colspan="2">@Html.Term("GuestEmail", "Guest Email")
                    </th>
                </tr>
            </thead>
            <tbody id="guests">
                @foreach (var guest in pending)
                {
                    <tr>
                        <td>
                            <input type="text" name="" class="textInput pad5 fullWidth inviteFirstName" value="@guest.FirstName" />
                            <input type="hidden" class="partyGuestId" value="@guest.PartyGuestID" />
                        </td>
                        <td>
                            <input type="text" name="" class="textInput pad5 fullWidth inviteLastName" value="@guest.LastName" />
                        </td>
                        <td>
                            <input type="text" name="" class="textInput pad5 fullWidth inviteEmail" value="@guest.EmailAddress" />
                        </td>
                        <td class="icon-24 right">
                            <a href="javascript:void(0);" class="removeGuest UI-icon-container"><span class="UI-icon icon-x">
                            </span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clr pad10 mt10 submitInvite">
            <a id="send" href="javascript:void(0);" class="Button sendInvite"><span>@Html.Term("ResendInvitationsNow", "Resend your invitations now")</span></a>
        </div>
    </div>
</div>
<!--/ end content column -->
@Html.Partial("MessageCenter")
