@{
	var page = DistributorBackOffice.Controllers.BaseController.GetCurrentPage();
	var modelIsPage = page != null;
	var siteDesignContent = DistributorBackOffice.Controllers.BaseController.GetCurrentSite().GetHtmlSectionByName("SiteDesignContent");
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Html.Partial("MasterPageIncludes")
	@siteDesignContent.ToDisplay(modelIsPage ? page.PageID : (int?)null)
</head>
<body id="ErrorPage">
	<input type="hidden" value="ErrorPage" />
	<div id="SiteContain">
		<div id="PageContain">
			<div id="Container">
				<div id="ContentContainer">
					<div class="PageTitle">
						<div class="Crumbs">
						</div>
						<h1 id="ErrorLogo">@Html.Term("Company_Name_Error_Page", "Your Company Name Here")</h1>
					</div>
					<div class="errorBody pad20">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
