<div class="brdrNNYY pad5 CartTools">
    <div class="FL mr10">
        @*<b>@Html.Term("Item")</b>:*@
        <input id="percentOffProductLookup" type="text" value="" class="TextInput productLookUp"  title="@Html.Term("Item")" />
        <input id="percentOffProductId" type="hidden" value="" class="productId" />
    </div>
    <div class="FL mr10">
        @*<b>@Html.Term("Quantity")</b>:*@
        <input id="percentOffQuantity" type="text" value="1" maxlength="3" class="TextInput numeric quantity" autocomplete="off" title="@Html.Term("Quantity")" />
    </div>
    <a id="percentOffAddToCart" class="FL UI-icon-container addToCart" href="javascript:void(0);" title="@Html.Term("AddToCart", "Add to cart")">
        <span class="UI-icon icon-plus"></span></a><span class="clr"></span>
</div>
