@model DistributorBackOffice.Areas.Orders.Models.Party.StepActiveModel

    <ol id="partyEntryNav" class="FR mr20">
        <li class="@(Model.StepOneActive ? "step-Active": "") FL pad10 ">
            <a href="#" >@Html.Term("ScheduleParty_StepOne_BreadcrumbShortcutText","Who?")</a>
        </li>
        <li class="@(Model.StepTwoActive ? "step-Active": "") FL pad10 ">
            <a href="#" >@Html.Term("ScheduleParty_StepTwo_BreadcrumbShortcutText","Where?")</a>
        </li>
        <li class="@(Model.StepThreeActive ? "step-Active": "") FL pad10 ">
            <a href="#">@Html.Term("ScheduleParty_StepThree_BreadcrumbShortcutText","Confirm")</a>
        </li>
    </ol>
