<!-- Title Progression Widget -->
<div class="FL PerfKPI kpiProgress TitleProgress @Html.Term("TitleProgressLanguage")">
    <div class="UI-secBg brdrAll pad5">
        <span>@Html.Term("TitleProgress", "Title Progress")</span>
    </div>
    <!-- Gauge -->
    <div id="levelIndicator" class="FL brdr1 Thermometer">
        <div class="ProgressIndicator">
            <span>@Html.Term("TitleProgressIndicator_Label", "Current Title")</span></div>
        <div id="Gauge">
            <img src="@Href("~/Resource/Content/Images/Encore/gauge-US.png")" title="@Html.Term("TitleProgressIndicator_Label", "Current Title")" alt="" />
            <div class="GoalProgress">
                &nbsp;</div>
            <div class="GoalColor">
                &nbsp;</div>
        </div>
    </div>
    <!--/ End Gauge -->
    <!-- Rec & Paid As -->
    <div class="clr UI-lightBg brdr1 OrgTitles">
        <span class="FL">@Html.Term("RecognizedTitle", "Recognized Title"): <span id="CurrentTitle">
        </span>
            <br />
            @Html.Term("PaidAsTitle", "Paid as Title"): <span id="PaidAsTitle"></span></span>
        <span class="clr"></span>
    </div>
    <!--/ end Rec & Paid -->
</div>
